<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--<add key="App_URL" value="http://c06pfooneeisw12.dswh.ds.adp.com/webasp/login.asp?redirectbypass=true"/>-->
    <add key="App_URL" value="http://localhost/webasp/login.asp"/>
    <!--<add key="browser" value="IE"/>-->
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" /></specFlow>
</configuration>